{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather WebApp</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<form method="post">
    {% csrf_token %}
    <input type="text" name="city1" placeholder="Enter a city 1">
    <input type='text' name='city2' placeholder='Enter a city 2'>
    <button type="submit">Compare Weather</button>
</form>

<div class="comparison-container">
    {% if weather_info1 %}
      <div class="city-container">
        {% include 'city.html' with weather_info=weather_info1 forecasts_info=forecasts_info1 %}
      </div>
    {% endif %}
    {% if weather_info2 %}
      <div class="city-container">
        {% include 'city.html' with weather_info=weather_info2 forecasts_info=forecasts_info2 %}
      </div>
    {% endif %}
</div>

</body>
</html>