{% extends 'base.html' %}
{% load static %}

{% block content %}
<br><br>
<div class="row justify-content-center">
  <div class="col-md-6">
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" name="city1" class="form-control" placeholder="Enter a city 1">
      </div>
      <div class="form-group">
        <input type="text" name="city2" class="form-control" placeholder="Enter a city 2">
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Compare Weather</button>
      </div>
    </form>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 d-flex justify-content-between">
    <div class="city-container">
      {% if weather_info1 %}
      {% include 'city.html' with weather_info=weather_info1 forecasts_info=forecasts_info1 %}
      {% endif %}
    </div>
    <div class="city-container">
      {% if weather_info2 %}
      {% include 'city.html' with weather_info=weather_info2 forecasts_info=forecasts_info2 %}
      {% endif %}
    </div>
  </div>
</div>

<style>
.form-control {
  width: 100%;
  padding: 10px;
  background: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 4px;
  transition: border-color .25s ease, box-shadow .25s ease;
}

.form-control:focus {
  outline: 0;
  border-color: #1ab188;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  transition: background-color .25s ease;
}

.btn-primary:hover,
.btn-primary:focus {
  background: #179b77;
  cursor: pointer;
}

.row.justify-content-center {
  margin-top: 20px;
}

.city-container {
  margin-top: 20px;
}
</style>
{% endblock %}
  
